mat-card {
    max-width: 600px;
    margin: 16px auto;
    padding: 16px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 16px;
  }

  .mat-mdc-form-field{
margin-right: 15px;
  }
  