<div class="homepage">
    <mat-toolbar color="primary" class="navbar">
      <span> <img src="../../../assets/logo.jpg" alt="Logo" class="logo-image" routerLink="/home"></span>
      <span class="spacer"></span>
      <button mat-raised-button color="accent" (click)="this.router.navigate(['/login'])">Login</button>
    </mat-toolbar>
    <div class="background">
      <div class="content">
        <h1>Welcome to Our Restaurant</h1>
        <p>Experience the finest dining with a touch of elegance.</p>
      </div>
    </div>
  </div>
  
